@charset "utf-8";

/* 全体 */
body {
    font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    margin: 0px;
    padding: 0px;
}



/* .header-menu{
    height: 100%;
}


.header-menu-list{
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    width: 300px;
}

.header-menu-item{
    border-width: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 34px;
    cursor: pointer;
    border-style: solid;
    border-color: #32323c;
}

.header-menu-item a{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: currentColor;
}

.header-menu-item a:hover{
    font-size: 17px;
    transition: 0.05s linear;
} */

/* 960px以上の場合のcss */
@media screen and (min-width: 960px){

    /* ヘッダー */
    header {
        background-color: #fcfcfc;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.221);
    }

    .header-left{
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 60px;
        margin: 10px;
        height: 100%;
    }

    #servicename{
        margin-bottom: 0px;
        margin-top: 8px;
        font-size: 28px;
        color: #3d3d3d;
        letter-spacing: 3px;
    }


    /* タブ */
    .tab-panel{
        padding-top: 90px;
        width: 60%;
        margin: 0 20%;
        justify-content: center;
    }
    
    .tab-group{
        display: flex;
        justify-content: center;
        padding: 0px 15%;
    }
    
    .tab{
        flex-grow: 1;
        padding: 5px;
        list-style:none;
        border:solid 1px #CCC;
        border-radius: 3px;
        text-align:center;
        cursor:pointer;
        font-weight: 600;
    }
    
    .panel-group{
        height:auto;
        border:solid 1px #CCC;
        border-top:none;
        background:rgb(244, 244, 244);
        border-radius: 5px;
        border: solid 1px #333;
    }
    
    .panel{
        display:none;
        padding: 20px;
    }
    
    p{
        font-size: 15px;
        font-weight: bolder;
        padding: 0px 20px;
        margin: 0px;
    }
    
    .tab.is-active{
        background:rgb(44, 44, 44);
        color:#FFF;
        transition: all 0.5s ease-out;
    }
    
    .panel.is-show{
        display:block;
    }
    
    .data_spot{
        padding: 0px;
        font-weight: 400;
        vertical-align: baseline;
    }
    
    .spot{
        padding-left: 20px;
        font-size: 22px;
        font-weight: 600;
    }
    
    
    .return_button{
        margin-left: 35%;
        margin-top: 20px;
        width: 30%;
        text-align: center;
        line-height: 35px;
        border: solid 1px #333;
        border-radius: 30px;
        background-color: rgb(171, 171, 171);
    }
    
    a{
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
    }
    
    
    a:hover{
        text-decoration: underline;
        font-size: 16px;
        font-weight: 600;
    }
}






/* 960px以下の場合のcss */
@media screen and (max-width: 960px){

    /* ヘッダー */
    header {
        background-color: #fcfcfc;
        width: 100%;
        height: 35px;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.221);
    }

    .header-left{
        display: flex;
        text-align: center;
        line-height: 25px;
        justify-content: center;
        margin: 5px;
        height: 100%;
    }
    
    #servicename{
        margin-bottom: 0;
        margin-top: 3px;
        font-size: 20px;
    }

    /* タブ */
    .tab-panel{
        padding-top: 45px;
        width: 95%;
        margin: 0 2.5%;
        justify-content: center;
    }
    
    .tab-group{
        display: flex;
        justify-content: center;
        padding: 0px 3%;
    }
    
    .tab{
        flex-grow: 1;
        padding: 5px;
        list-style:none;
        border:solid 1px #CCC;
        border-radius: 3px;
        text-align:center;
        cursor:pointer;
        font-weight: 600;
    }
    
    .panel-group{
        height:auto;
        border:solid 1px #CCC;
        border-top:none;
        background:rgb(244, 244, 244);
        border-radius: 5px;
        border: solid 1px #333;
    }
    
    .panel{
        display:none;
        padding: 20px;
    }
    
    p{
        font-size: 10px;
        font-weight: bolder;
        padding: 0px 5px;
        margin: 0px;
    }
    
    .tab.is-active{
        background:rgb(44, 44, 44);
        color:#FFF;
        transition: all 0.5s ease-out;
    }
    
    .panel.is-show{
        display:block;
    }
    
    .data_spot{
        padding: 0px;
        font-weight: 400;
        vertical-align: baseline;
    }
    
    .spot{
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
    }
    
    
    .return_button{
        margin-left: 25%;
        margin-top: 15px;
        width: 50%;
        text-align: center;
        line-height: 35px;
        border: solid 1px #333;
        border-radius: 30px;
        background-color: rgb(171, 171, 171);
    }
    
    a{
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
    }
    
    
    a:hover{
        text-decoration: underline;
        font-size: 16px;
        font-weight: 600;
    }
}
