<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/sanitize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>大阪弾丸ツアー</title>
    <meta name = "description" content = "大阪での日帰り観光ルートを自動生成するアプリケーションです。
    大阪での観光を計画する最初の段階で、是非利用してみてください。">
    <meta property="og:image" content="./static/images/Namba.png">
    <meta property="og:description" content="大阪での日帰り観光ルートを自動生成するアプリケーションです。
    大阪での観光を計画する最初の段階で、是非利用してみてください。">
    <meta property="og:title" content="大阪弾丸ツアー">
    <meta name="twitter:title" content="大阪弾丸ツアー">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7260336494947815"
     crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-left">
            <h1 id = "servicename">大阪弾丸ツアー</h1>
        </div>
        <!-- <nav class="header-menu">
            <ul class = "header-menu-list">
                <li class="header-menu-item"><a href='/' role = 'button' class = "menu-button">ルート生成</a></li>
                <li class="header-menu-item"><a href='/' role = 'button' class = "menu-button">ルート編集</a></li>
            </ul>
        </nav> -->
    </header>
    <div class = "load">
        <div id = 'loading-message' style='display:none;'>ルート生成中......</div>
        <div id='loading' style='display:none;'></div>
    </div>

    <main>
        <div class = "note">
            <p>観光地を選ぶと観光ルートを自動で生成</p>
            <p>まずは行きたい場所を選んでね！</p>
        </div>
        <div class = "form_block">
            
            <form action ='/result' method = "POST" class = "form">
                <div class = "select_menu">
                    <div id="select_line_1">
                        <div class = "select1">
                            <div class = "check">
                                <input type="checkbox" name = "name1" id = "OsakaAquarium" value = "1">
                                <img class = "pic" src="./static/images/OsakaAquarium.jpg" alt="海遊館">
                                <label for = "name1" class = "label">海遊館</label>
                            </div>
                        </div>
                        <div class = "select2">
                            <div class = "check">
                                <input type="checkbox" name = "name2" class = "name" value = "2">
                                <img class = "pic" src="./static/images/BanpakuPark.jpg" alt="万博公園">
                                <label for="name2" class = "label">万博公園</label>
                            </div>
                        </div>
                        <div class = "select3">
                            <div class = "check">
                                <input type="checkbox" name = "name3" class = "name" value = "3">
                                <img class = "pic" src="./static/images/USJ.jpg" alt="USJ">
                                <label for="name3" class = "label">USJ</label>
                            </div>
                        </div>
                    </div>
                    <div id="select_line_2">
                        <div class = "select4">
                            <div class = "check">
                                <input type="checkbox" name = "name4" class = "name" value = "4">
                                <img class = "pic" src="./static/images/Namba.jpg" alt="なんば">
                                <label for="name4" class = "label">なんば</label>
                            </div>
                        </div>
                        <div class = "select5">
                            <div class="check">
                                <input type="checkbox" name = "name5" class = "name" value = "5">
                                <img class = "pic" src="./static/images/Umeda.jpg" alt="梅田">
                                <label for="name5" class = "label">梅田</label>
                            </div>
                        </div>
                        <div class = "select6">
                            <div class="check">
                                <input type="checkbox" name = "name6" class = "name" value = "6">
                                <img class = "pic" src="./static/images/Tennoji.jpg" alt="天王寺">
                                <label for="name6" class = "label">天王寺</label>
                            </div>
                        </div>
                    </div>
                    <div id="select_line_3">
                        <div class = "select7">
                            <div class="check">
                                <input type="checkbox" name = "name7" class = "name" value = "7">
                                <img class = "pic" src="./static/images/NagaiPark.jpg" alt="長居公園">
                                <label for="name7" class = "label">長居公園</label>
                            </div>
                        </div>
                        <div class = "select8">
                            <div class="check">
                                <input type="checkbox" name = "name8" class = "name" value = "8">
                                <img class = "pic" src="./static/images/OsakaCastle.jpg" alt="大阪城">
                                <label for="name8" class = "label">大阪城</label>
                            </div>
                        </div>
                        <div class = "select9">
                            <div class="check">
                                <input type="checkbox" name = "name9" class = "name" value = "9">
                                <img class = "pic" src="./static/images/Tsutenkaku.jpg" alt="新世界">
                                <label for="name9" class = "label">新世界</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="warn">{{ warn }}</div>
                <div class="select_option">
                    <label for="hh" class = "start_time">開始時刻</label>
                    <br>
                    <select id="hh" name="hh">
                        <option value="00">0時</option>
                        <option value="01">1時</option>
                        <option value="02">2時</option>
                        <option value="03">3時</option>
                        <option value="04">4時</option>
                        <option value="05">5時</option>
                        <option value="06">6時</option>
                        <option value="07">7時</option>
                        <option value="08">8時</option>
                        <option value="09">9時</option>
                        <option value="10" selected = "">10時</option>
                        <option value="11">11時</option>
                        <option value="12">12時</option>
                        <option value="13">13時</option>
                        <option value="14">14時</option>
                        <option value="15">15時</option>
                        <option value="16">16時</option>
                        <option value="17">17時</option>
                        <option value="18">18時</option>
                        <option value="19">19時</option>
                        <option value="20">20時</option>
                        <option value="21">21時</option>
                        <option value="22">22時</option>
                        <option value="23">23時</option>
                        <option value="24">24時</option>
                        <option value="25">25時</option>
                        <option value="26">26時</option>
                    </select>
                    <select id="mm" name="mm">
                        <option value="00" selected = "">00分</option>
                        <option value="30">30分</option>
                    </select>
                    <br>
                    <label for="time_span" class = "time_visit">観光時間</label>
                    <select name="time_span" id="time_span">
                        <option value="3">3時間</option>
                        <option value="4">4時間</option>
                        <option value="5">5時間</option>
                        <option value="6">6時間</option>
                        <option value="7">7時間</option>
                        <option value="8" selected = "">8時間</option>
                        <option value="9">9時間</option>
                        <option value="10">10時間</option>
                        <option value="11">11時間</option>
                        <option value="12">12時間</option>
                        <option value="13">13時間</option>
                        <option value="14">14時間</option>
                        <option value="15">15時間</option>
                        <option value="16">16時間</option>
                        <option value="17">17時間</option>
                        <option value="18">18時間</option>
                    </select>
                </div>
                <input class = "button" id = "loading-button" type="submit" value="自動生成">
            </form>
        </div>


    </main>



    <script src = "static/js/index.js"></script>
</body>
</html>