<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/sanitize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>大阪弾丸ツアー</title>
    <meta name = "description" content = "text">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-left">
            <h1 id = "servicename">大阪弾丸ツアー</h1>
        </div>
        <nav class="header-menu">
            <ul class = "header-menu-list">
                <li class="header-menu-item"><a href='/'>計画</a></li>
                <li class="header-menu-item"><a href='/result'>コース</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <form action ='/result' method = "POST" class = "form">
                <div class = "select_menu">
                    <div class = "select1">
                        <div class = "check">
                            <input type="checkbox" name = "name1" id = "OsakaAquarium" value = "1">
                            <img class = "pic" src="./static/images/OsakaAquarium.jpg" alt="海遊館">
                            <label for = "name1" class = "label">海遊館</label>
                        </div>
                    </div>
                    <div class = "select2">
                        <div class = "check">
                            <input type="checkbox" name = "name2" class = "name" value = "2">
                            <img class = "pic" src="./static/images/BanpakuPark.jpg" alt="万博公園">
                            <label for="name2" class = "label">万博公園</label>
                        </div>
                    </div>
                    <div class = "select3">
                        <div class = "check">
                            <input type="checkbox" name = "name3" class = "name" value = "3">
                            <img class = "pic" src="./static/images/USJ.jpg" alt="USJ">
                            <label for="name3" class = "label">USJ</label>
                        </div>
                    </div>
                    <div class = "select4">
                        <div class = "check">
                            <input type="checkbox" name = "name4" class = "name" value = "4">
                            <img class = "pic" src="./static/images/Namba.jpg" alt="なんば">
                            <label for="name4" class = "label">なんば</label>
                        </div>
                    </div>
                    <div class = "select5">
                        <div class="check">
                            <input type="checkbox" name = "name5" class = "name" value = "5">
                            <img class = "pic" src="./static/images/Umeda.jpg" alt="梅田">
                            <label for="name5" class = "label">梅田</label>
                        </div>
                    </div>
                    <div class = "select6">
                        <div class="check">
                            <input type="checkbox" name = "name6" class = "name" value = "6">
                            <img class = "pic" src="./static/images/Tennoji.jpg" alt="天王寺">
                            <label for="name6" class = "label">天王寺</label>
                        </div>
                    </div>
                    <div class = "select7">
                        <div class="check">
                            <input type="checkbox" name = "name7" class = "name" value = "7">
                            <img class = "pic" src="./static/images/NagaiPark.jpg" alt="長居公園">
                            <label for="name7" class = "label">長居公園</label>
                        </div>
                    </div>
                    <div class = "select8">
                        <div class="check">
                            <input type="checkbox" name = "name8" class = "name" value = "8">
                            <img class = "pic" src="./static/images/OsakaCastle.jpg" alt="大阪城">
                            <label for="name8" class = "label">大阪城</label>
                        </div>
                    </div>
                    <div class = "select9">
                        <div class="check">
                            <input type="checkbox" name = "name9" class = "name" value = "9">
                            <img class = "pic" src="./static/images/Tsutenkaku.jpg" alt="新世界">
                            <label for="name9" class = "label">新世界</label>
                        </div>
                    </div>
                </div>
                <div class="select_option">
                    <!-- <input type="text" name = "Start_position" placeholder="開始場所">
                    <input type="text" name = "Finish_position" placeholder="終了場所"> -->             
                    <!-- <input type="time" name="Start_time" placeholder="開始時刻">
                    <input type="time" name="Finish_time" placeholder="終了時刻"> -->
        
                    <input class = "button" type="submit" value="自動生成">
                </div>
            </form>
        </div>


    </main>

    <footer>
        <p>&copy;Hiroki & Kazuki</p>
    </footer>
    <script src = "static/js/index.js"></script>
</body>
</html>